*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.blog
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px auto;
}
.blog .blog-1
{  
   padding: 15px;
   width: 40%;
}
#blog_item div
{
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
#blog_item
{
   background-image: url("/img/ironmen1.jpg");
   border: 1px solid brown;
   display: grid;
   grid-template-columns:repeat(5,1fr) ;
}
#blog_item img
{
   width: 100%;
}
#blog_item div button
{
   margin: 5px;
   padding: 5px;
}
.blog-1 input{
   border: 3px solid red;
   border-radius: 15px;
}
.blog{
   background-image: url("/img/cloud1.jpg");
   border: 10px solid rgb(224, 200, 15);
   width: 600px;
   border-radius: 100px;
}
#blog_item button{
   background-color: white;
   border: 2px solid black;
   color: black;
   cursor: pointer;
}

#blog_item h2{
   color: darkorange;
} 

#blog_item p{
   color: rgb(21, 90, 186);
} 

#blog_item h4{
   color: rgb(118, 24, 104);
} 

#blog_item h6{
   color: rgb(11, 151, 72);
} 

#blog_item div{
   border: 3px solid black;
   border-radius: 10px;
}

.fa-heart {
   border-color: #f44336;
   color: red;
 }
 
 .fa-heart:hover {
   background: #f44336;
}